body{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

*{
    /* border: 1px solid black;  */
    margin: 1px;
    padding: 1px;  
}

#header,h3,h1 {    
    font-size: xx-large;
}

#subheader{
    background-color: rgb(183, 200, 214);
    text-align: right;
    font-size: 30px;
}

a:link, a:visited {
    background-color: #cdd3e6;
    color: rgb(8, 1, 1);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 33px;
    width: 150px;
  }
  
  a:hover, a:active {
    background-color:#36aef4;
    color: black;
  }

#sidebar {
    /* border: 1px solid black; */
    height: 3000px;
    float: left;
}

#main {
    float: center;
}

span {
    background-color: #f4f5f8;
    color: rgb(7, 3, 3);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 10px;
    width: 150px;
}

img {
    height: 220px;
    width: 198px;
}

.item {
    /* border: 1px solid black; */
    float: left;
    height: 350px;
    width: 197px;
    padding: 4px;
}

a#pd {
    color: blue;
}

a#pd:link, a#pd:visited {
    background-color:#ffffff;
    color: rgb(32, 79, 150);
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
  }
  
  a#pd:hover, a#pd:active {
    background-color:#ffffff;
    color: rgb(32, 79, 150);
  }

button#atc {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}